

.loader_block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details .tag-info{
    letter-spacing: 1px;
}

.tag-info:not(:first-child) {
    margin-left: 0.5rem;
}

.modal__title {
    font-size: 16px;
    font-weight: bold;
}
.modal__task__title {
    font-size: 14px;
    /* font-weight: bold; */
}
#app .el-dialog {
    width: 30%;
}
@media screen and (max-width: 1024px) {
    #app .el-dialog {
        width: 50%;
    }
}
@media screen and (max-width: 768px) {
    #app .el-dialog {
        width: 70%;
    }
}
@media screen and (max-width: 425px) {
    #app .el-dialog {
        width: 98%;
    }
}

.el-tag.text-white {
    color: #ffff;
}