

.loader_block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag-info{
    letter-spacing: 1px;
}

.modal__title {
    font-size: 16px;
    font-weight: bold;
}
.modal__task__title {
    font-size: 14px;
    /* font-weight: bold; */
}